name: Workflow | Test

on:
  workflow_call: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup | Install npm dependencies
        uses: ./.github/actions/npm-install

      - name: Test
        run: npm run test
        env:
          ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
          INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
          LOCAL_HOST_DEPLOYER_KEY: ${{ secrets.LOCAL_HOST_DEPLOYER_KEY }}
          SEPOLIA_DEPLOYER_KEY: ${{ secrets.SEPOLIA_DEPLOYER_KEY }}
          MANTLE_TESTNET_DEPLOYER_KEY: ${{ secrets.MANTLE_TESTNET_DEPLOYER_KEY }}
